@font-face {
   font-family: 'MyFont';
   src: url('../assets/fonts/artemis-icon-webfont.woff') format('woff');
   font-weight: 600;
   font-style: normal;
 }

.bonjour {
    color: green;
    font-family: 'MyFont';
    /* background: url('../assets/images/pug.png'); */
}